/*  add to jquery mobile theme */

/* content configurations. */
.ui-grid-e, .ui-gird-f{ overflow: hidden; }
.ui-block-f, .ui-block-g{ margin: 0; padding: 0; border: 0; float: left; min-height:1px;}
/* grid e: 16.6/16.6/16.6/16.6/16.6/16.6/ */
.ui-grid-e .ui-block-a, .ui-grid-e .ui-block-b, .ui-grid-e .ui-block-c, .ui-grid-e .ui-block-d, .ui-grid-e .ui-block-e, .ui-grid-e .ui-block-f { width: 16.66666%; }
.ui-grid-e .ui-block-a { clear: left; }
/* grid f: 14.23/14.23/14.23/14.23/14.23/14.23/14.23/ */
.ui-grid-f .ui-block-a, .ui-grid-f .ui-block-b, .ui-grid-f .ui-block-c, .ui-grid-f .ui-block-d, .ui-grid-f .ui-block-e , .ui-grid-f .ui-block-f, .ui-grid-f .ui-block-g  { width: 14.22222%; }
.ui-grid-f .ui-block-a { clear: left; }
/* fixed page header & footer configuration */

/*
.add_page{width:480px;height:800px;border:#000 1px double;margin:0 auto 0 auto;}
.index_page{width:480px;height:800px;border:#000 1px double;margin:0 auto 0 auto;}
.schedules_page{width:480px;height:800px;border:#000 1px double;margin:0 auto 0 auto;}
*/
.header{width:100%;height:20px;padding:10px;line-height:20px;text-align:center;font-size:16px;}
.navbar{margin:15px 25px 0 25px;}

.detail-content{margin:30px 5px auto 5px;}
.detail-content label{margin:15px 5px;font-size:15px;font-weight:bold;}
.detail-content span{margin:15px 5px;}

.footer-button{height:36px;border:#999 1px double;width:100%;}

.schedules-list{margin:15px 25px 0 25px;}


.content{margin:0 25px;clear:left;}
.content_date, .content_date div{margin:0;padding:0;height:56px;}
.content_date a{height:56px;line-height:56px;margin:0;padding:0;}

.week_title{margin:0;padding:0;height:36px;text-align:center;}
.week_title span{margin:0;padding:0;font-size:18px;line-height:36px;font-weight:bold;border:#999 1px double;width:100%;height:100%;display:block;}
.content_button{margin:0;padding:0;}


.content_change_month{margin:0 25px;clear:left;}
.content_change_month div{margin:0;padding:0;}

.content_change_day{margin:25px;clear:left;}
.content_change_day div{margin:0;padding:0;}

#schedule_list, .schedule_type{margin:15px 25px;}
